.ant-menu-item{
    color: #fff!important;
}

ul.ant-menu-vertical > li.ant-menu-item-only-child {
    color: black!important;
}

ul.ant-menu-vertical > li.ant-menu-item-selected {
    color: var(--adminPrimaryColor)!important;    
}

.ant-menu-item:active{
    color: var(--adminPrimaryColor)!important;
}

.ant-menu-item-selected {
    
    font-weight: 600;
    color: var(--adminPrimaryColor)!important;    
}

.ant-menu-submenu{
    div{
        color: #fff!important;
    }
    div:active{
        color: var(--adminPrimaryColor)!important;
    }
}

.ant-menu-submenu-selected{
    background-color: var(--adminPrimaryColorDark)!important;
    div{
        color: #fff!important;
    }
}

.ant-table-filter-dropdown .ant-btn-primary{
    background-color: var(--adminPrimaryColor);
}